APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

CHAT_WEBHOOK_PROVIDER=
CHAT_WEBHOOK_VERIFY_TOKEN=
SYNOLOGY_CHAT_HOST=
SYNOLOGY_CHAT_TOKEN=
SYNOLOGY_CHAT_BOT_TOKEN=
SYNOLOGY_CHAT_OUTGOING_TOKEN=
SYNOLOGY_CHAT_SLASH_TOKEN=
CHAT_WEBHOOK_ALLOWED_IPS=
CHAT_WEBHOOK_ENABLE_SIGNATURE_CHECK=false
CHAT_WEBHOOK_SIGNATURE_HEADER=
CHAT_WEBHOOK_SIGNATURE_SECRET=
CHAT_WEBHOOK_LOG_PAYLOAD=true
