/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
# 忽略整個 storage
/storage/*

# 但放行 storage/app 目錄
!/storage/app/

# 接著忽略 storage/app 下的所有東西
/storage/app/*

# 最後再放行你要追蹤的 templates
!/storage/app/templates/
